.white-text {
  color: white;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.game {
  width: calc(33.333% - 20px); /* Adjusted width to fit three elements side-by-side with gaps */
  padding: 12px;
  background-color: rgba(70, 60, 60, 0.733);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 1200px) {
  .game {
    width: calc(50% - 20px); /* On medium screens, adjust to two elements per row */
  }
}

@media (max-width: 768px) {
  .game {
    width: 90%; /* On smaller screens, go back to full width */
  }
}