.home {
  padding-top: 60px; /* Ajusta este valor según el alto de tu Navbar */
  padding-left: 2rem;
  padding-right: 2rem;
}

.clubs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 250px));
  grid-gap: 50px; /* Increase the gap value for more space between clubs */
  list-style: none;
  padding: 0;
  width: 100%;
}

.club-link {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: rgba(70, 60, 60, 0.329);
  color: white;
  border-radius: 4px; /* Add border-radius to .club-link */
}

.club-link .club {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 85%;
}

.club-link .club:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add a white glow effect */
}



.club-content {
  margin-bottom: 16px;
}

.club-items {
  margin-bottom: 16px;
}

.club-id {
  text-align: right;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  
  font-family: 'Arial', sans-serif; /* Familia de fuentes */
  font-size: 25px; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea